In [1]:
import pandas as pd

Series

In [8]:
x = pd.Series([1,2,3,4], index=['a','s','d','f'])
x['a']
pd.isnull(x)
x.isnull()

a    False
s    False
d    False
f    False
dtype: bool

dataFrame

In [31]:
dic = {'zahra': [20, 38, 93, 42],
        'hodi': [43,43,4223,1233],
        'sfdgo': [23,233,434,3423]}

y = pd.DataFrame(dic, index=['sasd','sad','asd','qwe'])
y.head()
y['zahra']
y.zahra
y.loc['sasd']
y['lkl'] = [3,4,2,1]   #add column
del y["hodi"]
y.T

      zahra  sfdgo  lkl
sasd     20     23    3
sad      38    233    4
asd      93    434    2
qwe      42   3423    1

In [ ]:
dic = {'zahra': [20, 38, 93, 42],
        'hodi': [43,43,4223,1233],
        'sfdgo': [23,233,434,3423]}
z = pd.DataFrame(dic, columns=[1,2,3], index=[342323,24323,3423,334])
z